div ng-show="!ctrl.loading" ng-include="ctrl.getPage()" layout="column" layout-fill=""
.loading ng-show="ctrl.loading" layout-fill="" layout-align="center center" flex="" layout="column"
  md-progress-circular class="md-hue-2" md-mode="indeterminate"
