body
  background-color: white
  margin: 0
h1, p
  padding: 0 10px
a, a:visited
  color: #1A1AD4
  text-decoration: none
  &:hover
    text-decoration: underline

.relative
  position: relative

.md-fab
  fill: #fff
  ng-md-icon
    position: relative
    top: 7px

md-sidenav.md-locked-open
  width: 180px
  min-width: 180px

.menu-button
  cursor: pointer
  display: block
  line-height: 40px
  max-height: 40px
  padding: 0 16px
  border-bottom: 1px solid #eee

.search
  background-color: #eee

$left-width: 30%
$border-color: #eee

.category
  margin-left: 10px

.home
  position: absolute
  width: 100%
  height: 100%
.left, .right
  position: absolute
  height: 100%
.left
  width: $left-width
.right
  right: 0
  width: 100% - $left-width
.content
  position: absolute
  width: 100%
  height: 100%
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.issues
  border-top: 1px solid $border-color
  margin-bottom: 100px
.issue
  position: relative
  border-bottom: 1px solid $border-color
  overflow: hidden
  padding: 5px 10px 5px 15px
  min-height: 70px
  &:hover
    background-color: #eeeeee
    cursor: pointer
  &.selected
    background-color: #C5CAE9
    border-left: 5px solid #3F51B5
    padding: 5px 10px
.issue-content
  margin-right: 50px
  overflow: hidden
.issue-control
  margin-top: 3px
  fill: #ccc
  color: #ccc
.issue-title
  margin: 5px 0
  font-weight: 700
.issue-description
  color: gray
  font-size: 90%
.issue-author
  color: darkgreen
.issue-gps
  color: darkgreen
.issue-start-date, .issue-created-on
  //text-align: right
  font-size: 80%
.issue-created-on
  color: #267ED5
.issue-start-date
  color: red
.issue-right
  position: absolute
  top: 10px
  right: 10px
  text-align: right

maps
  position: relative
.angular-google-map-container
  position: absolute
  width: 100%
  height: 100%
.window
  width: 280px
  overflow: hidden